<!DOCTYPE html>
<html>
  <head>
    <title>ResumeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-br from-slate-50 to-teal-50 min-h-screen">
    <main class="w-full max-w-[95%] mx-auto py-4 px-3 sm:py-6 sm:px-4">
      <%= yield %>
    </main>
  </body>
</html>
